[submodule "cairo_streams"]
	url = https://github.com/onlydustxyz/cairo-streams
	path = lib/cairo_streams
	branch = refs/heads/cairo-0.10
[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
