name: CI

on: 
  pull_request: ~

jobs:
  protostar-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install protostar
        run: |
          curl -L https://raw.githubusercontent.com/software-mansion/protostar/master/install.sh | bash -s -- -v 0.3.2
      - name: Update env variables
        run: |
          source /home/runner/.bashrc | bash
      - name: Install protostar dependencies
        run: /home/runner/.protostar/dist/protostar/protostar install
      - name: Compile smart contracts
        run: /home/runner/.protostar/dist/protostar/protostar build
      - name: Run protostar tests
        run: /home/runner/.protostar/dist/protostar/protostar test
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: pip install cairo-lang==0.9.1
      - name: Check files formatting
        run: find contracts/ -name "*.cairo" -print0 | xargs -0 echo cairo-format -c
  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Python setup
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install Amarna
        run: git clone https://github.com/crytic/amarna.git && cd amarna && pip install -e .

      - name: Run Amarna static analysis
        run: amarna contracts/ -o out.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: out.sarif